*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    flex-direction: column;
}

footer{
    text-align: center;
    height: 50px;
}

.description{
    margin-top: 20px;
    text-align: center;
}

.ml-pipeline{
    display: flex;
    height: 320px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controls{
    margin-left: 20px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.range-block{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:auto;
}

.range-block p{
    margin: 0px;
}

input{
    width: 100%;
}

canvas{
    border: 2px solid black;
    display: block;
}

#output{
    width: 120px;
    flex: 1;
}

button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    background-color: #3979cc;
    color: white;
    /* font-weight: bold; */
}

button:hover{
    background-color: #4383d8;
}

button:active{
    /* background-color: #5387cc; */
    transform: scale(0.98);
}

#output{
    font-size: 24px;
    font-weight: bold;
}

#viz-container{
    width: 800px;
    height: 500px;
}

#viz-canvas{
    width: 100%;
    height: 100%;
}

#model-out{
    height: 200px;
    width: 100%;
}